body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #0a1a4f;
  color: #ffffff;
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* 상단 네브바 */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar ul a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-menu {
  position: relative;
}

.logout-menu {
  display: none;
  position: absolute;
  top: 27px;
  right: 0;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  min-width: 86px;
  z-index: 100;
  font-size: 14px;
}
.logout-menu a {
  display: block;
  padding: 5px 0 !important;
  text-decoration: none;
  font-weight: 600;
  color: #0a1a4f !important;
}

.logout-menu a:hover {
  border-color: white;
  box-shadow: 0 0 8px 2px rgba(178, 178, 178, 0.8);
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.radio-btn {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.stopwatch-watch {
  font-family: monospace;
  font-size: 5em;
  font-weight: bold;
  padding: 20px;
}

.stopwatch-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 10px;
}
.stopwatch-buttons button {
  background-color: white;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px;
  color: #0a1a4f;
  font-weight: bold;
}

.stopwatch-buttons button:hover {
  background-color: #ffd700;
  border-color: #ffd700;
  transition: 0.3s ease;
}

/* 타이머로 바뀌는 버튼 */
.timer-btn {
  position: absolute;
  right: 80px;
  bottom: 150px;
}

.timer-btn button {
  background-color: #0a1a4f;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

.timer-btn button:hover {
  color: #ffd700;
  border-color: #ffd700;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.fa-play {
  font-size: 10px;
  margin-left: 5px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

/* footer */

.first-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  margin-bottom: 4px;
}

.first-footer i:hover {
  cursor: pointer;
}
.second-footer {
  display: flex;
  justify-content: center;
}

.second-footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 0;
}

.second-footer ul li,
a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.second-footer a:hover {
  border-bottom: 1px solid #fff;
  /* color: #ffd700; */
}

.second-footer {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  padding: 0;
}

.third-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: #949494;
  font-size: 10px;
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 20px 24px;
  }
  h1 {
    font-size: 20px;
  }
  .radio-btn {
    font-size: 14px;
    width: 230px;
  }
  .stopwatch-watch {
    font-size: 50px;
  }
  .stopwatch-buttons button {
    font-size: 10px;
  }
  .timer-btn {
    right: 24px;
  }
  .first-footer {
    font-size: 14px;
    margin: 0;
  }
  .second-footer {
    font-size: 10px;
  }
  .second-footer ul {
    margin: 6px;
  }
  .third-footer {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .second-footer ul {
    font-size: 8px;
    width: 54%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 0;
  }
  .second-footer li {
    padding: 4px;
  }
}
