body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #0a1a4f;
  color: #ffffff;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar ul a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.setting-timer {
  text-align: center;
}
.setting-timer input {
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1em;
  width: 150px;
  text-align: center;
  background-color: #0a1a4f;
  color: #fff;
}
.setting-timer button {
  background-color: #0a1a4f;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

.setting-timer button:hover {
  color: #ffd700;
  border-color: #ffd700;
  /* transform: scale(1.1); */
  transition: 0.3s ease;
}

.timer-set {
  font-size: 8em;
  font-weight: 700;
  padding: 20px;
}

.timer-buttons {
  display: flex;
  gap: 3px;
  justify-content: center;
}
.timer-buttons button {
  background-color: white;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 10px;
  color: #0a1a4f;
  font-weight: bold;
}

.timer-buttons button:hover {
  background-color: #ffd700;
  border-color: #ffd700;
  /* transform: scale(1.1); */
  transition: 0.3s ease;
}

.stopwatch-btn {
  position: absolute;
  right: 80px;
  bottom: 150px;
}
.stopwatch-btn button {
  background-color: #0a1a4f;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

.stopwatch-btn button:hover {
  color: #ffd700;
  border-color: #ffd700;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.fa-play {
  font-size: 10px;
  margin-left: 5px;
}

.notification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  justify-content: center;
  align-items: center;
}

.alarm-box {
  background: #ffffff;
  color: #000;
  font-size: 2em;
  text-align: center;
}
.alarm-box button {
  background-color: #0a1a4f;
  border: 1px solid white;
  box-shadow: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.first-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

.first-footer i:hover {
  color: #ffd700;
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s ease;
}
.second-footer {
  display: flex;
  justify-content: center;
}

.second-footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.second-footer ul li,
a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.second-footer a:hover {
  border-bottom: 1px solid #fff;
  /* color: #ffd700; */
}

.second-footer {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  padding: 0;
}

.third-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: #949494;
  font-size: small;
}

@media (max-width: 768px) {
  .stopwatch-btn {
    position: static;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .first-footer {
    margin-top: 20px;
    align-items: center;
  }
  .second-footer ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
    font-size: small;
  }
}
